*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    
}

html {
  scroll-behavior: smooth;
}

/*inicio da head*/
header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff0fb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    font-family: Consolas, "Courier New", monospace;
    z-index: 1000;
}

body {
    padding-top: 80px;
    background-color: #fff0fb;
}

header > a {
    color: #9c0d62;
    text-decoration: none;
    font-size: 22px;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 30px; /* espaçamento entre os itens */
}

header nav ul a {
    color: #9c0d62;
    text-decoration: none;
    font-size: 18px;
}


body > header > a {
    color: #9c0d62;
    text-decoration: none;
    font-size: 20px;
    margin-left: 30px;
}

body > header ul {
    display: flex;
    list-style: none;
}

body > header ul a {
    color: #9c0d62;
    text-decoration: none;
    margin-left: 10px;
}

body > header li a {
    color: #9c0d62;
    margin-right: 30px;
    text-decoration: none;
    display: block;
    padding: 10px 12px;
    height: auto;
}

header li a:hover,
header li a.ativo {
  border-bottom: 2px solid #9c0d62;
}
/*fim da head*/

/*carrossel*/
.carrossel {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.carrossel img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

#btnVoltar {
  left: 20px;
}

#btnAvancar {
  right: 20px;
}

#moldura{
	max-width: 100%;
  max-height: 120%;

}

footer {
  border: none !important;
  box-shadow: none !important;
  background: #fff0fb; 
  background-color: #fff0fb;
  color: #9c0d62;
  padding: 15px 40px;
  font-family: Consolas, "Courier New", monospace;
  border-top: 2px solid #f2d7e9;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
}

.footer-left .marca {
  font-size: 1.4rem;
}

.footer-center .endereco {
  text-align: center;
  font-size: 1rem;
}

.footer-right a {
  color: #9c0d62;
  margin-left: 5px;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.footer-right a:hover {
  color: #b80972; 
}

.footer-left .marca {
    font-weight: normal;
}

@media (max-width: 770px) {

    body {
        padding-top: 200px;
    }

    header {
        height: auto;
        flex-direction: column;
        padding: 15px 0;
    }

    header > a {
        font-size: 26px;
        margin-bottom: 10px;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 0;
        margin: 0;
    }

    header nav ul li a {
        padding: 5px 10px;
        margin: 0;
        width: 100%;
        text-align: center;
    }

    /* FOOTER */
    .footer-container {
        flex-direction: column; /* <--- faz quebrar */
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        width: 100%;          /* cada bloco ocupa toda a largura */
    }

    .footer-right a {
        margin: 0 10px;       /* ajusta os ícones */
    }
}